<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apekshakhandelwal.guidetour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Discovering Rajasthan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Udaipur" android:label="Udaipur" android:parentActivityName=".MActivity"></activity>
        <activity android:name=".Jaipur" android:label="Jaipur" android:parentActivityName=".MActivity"></activity>
        <activity android:name=".Jodhpur" android:label="Jodhpur" android:parentActivityName=".MActivity"></activity>
        <activity android:name=".Jaisalmer" android:label="Jaisalmer" android:parentActivityName=".MActivity"></activity>

    </application>

</manifest>